* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: 'montserrat';
    ::selection{
        background-color: #fff;
        color: #95C11E;
    }
}

 .transition-class {
    transition: transform 0.3s, border 0.3s, background-color 0.3s;
} 

body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    display: block;
    width: 5px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb{
    background-color: #95C11E;
    border-radius: 20px;
         }

#cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: #95C11E;
    pointer-events: none;
    transition: transform 0.3 ease;
   
}


#cursor-blur {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: fixed;
    background-color: #96c11e2b;
    filter: blur(40px);
    z-index: 9;
}


#nav {
    position: fixed;
    display: flex;
    height: 150px;
    width: 100%;

    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 50px;
    z-index: 99;
}


#nav img {
    height: 75px;
}

#nav h4 {
    font-weight: 500px;
}

video {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}

#page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 55px;
    z-index: 10;
}

#page1 h1 {
    font-size: 90px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}

#page1 h2 {
    margin-top: 10px;
    margin-bottom: 21px;
    font-size: 25px;
    font-weight: 800;
}

#page1 p {
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}

#page1 #arrow{
    height: 150px;
    width: 150px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #95C11E;
    left: -2%;
    bottom: 9%;
    transition: all 0.5s;
    }
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}

#page1 #arrow:hover{
    scale: 0.4;
    background-color: #ABDD22;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    /* background-color: red; */
    display: flex;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all linear 0.5s;
    position: relative;
    z-index: 10;
    
}

#scroller h4:hover {
    color: #95C11E;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    -webkit-text-stroke: 2px #95C11E;
    color: transparent;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    z-index: 10;
    position: relative;
    margin-top: 110px;
}

#about-us img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in {
    width: 50%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 54px;
    font-weight: 800px;
    margin-bottom: 40px;
}

#about-us-in p {
    font-size: 20px;
    line-height: 26px;

}

#cards-container {
    height: 80vh;
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    z-index: 10;

}

.cards {
    
    height: 80%;
    width: 24%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.4s;
}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1);
}
#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding-top: 80px;
    padding:30px;
    opacity: 0;
    transition: all ease 0.4s;
}
#overlay h4{
    color: #000;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;

}
#overlay p{
    color: #000;
    font-size: 18px;
}

.cards:hover #overlay{
    opacity: 1;
}

.cards:hover{
    transform: rotate3d(-1,1,0,15deg);
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to left bottom,#2FA734,#ABDD22);
}

#green-div h4{
 width: 50%;
 font-size: 28px;
 line-height: 50px;
 text-align: center;
 font-weight: 800;
 color: #000;
 
}
#green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
    position: relative;
    }

#page3>p{
    font-size: 30px;
    font-weight: 700;
    width: 60%;
    text-align: center;
    line-height: 45px;
}

#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left:15%;
    top:25%; 
}

#page3 #colon2{
    bottom:25%;
    right:20%;
}

#page4{
    position: relative;
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: #000;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.elem{
    height:23vh;
    width: 28%;
   background-color: #ABDD22;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


.elem h2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    background-color: #ABDD22;
    transition: all 0.5s;
 }

 .elem img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all 0.5s;
 }

 .elem:hover h2{
  color: #fff;
  background-color:  transparent;
 }

 .elem:hover img{
    scale: 1;
   }

#page4 h1{
    font-family: sans-serif;
    color: #000;
    position: absolute;
    font-size: 70px;
    font-weight: 900;
    white-space: nowrap;
    top: 7%;
    -webkit-text-stroke:2px #fff;
}

#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }

  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }

  #f4 h3,span{
   color: #000; 
  }
  
  #f4 span:hover,
  #f4 h3:hover,
  #f3 h3:hover,
  #f2 h3:hover{
    color: #fff;
    cursor: pointer;
  }

 #f1 img:hover{
    scale: 1.2;
 }